<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OaiApiKey" value="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" />
	</appSettings>
</configuration>