<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="vectorStoreFoldersPath" value="../../vectorStoreFolders.json" />
    <add key="excludedFiles" value=".gitignore,license-2.0.txt,license.md,package-lock.json,.aider*" />
    <add key="excludedFolders" value="android,build,ios,windows,linux,macos,.dart_tool,ephemeral,x64,x86,packages,obj,bin,build,tmp,.gradle,translations,.git,.vs,.cr,.idea,Logs,LogCtx" />
    <!-- <add key="excludedFolders" value="packages,obj,bin,build,tmp,.gradle,translations,.git,.vs,.cr,.idea,Logs,LogCtx" /> -->
    <!-- New setting for Git AI prompt -->
    <add key="gitAiPrompt" value="Analyze the following Git changes and provide a concise, descriptive commit message that explains the purpose and impact of these changes. Ignore all white space changes. Focus on the 'what' and 'why' rather than the 'how'. Include any relevant issue numbers or references. Format the response as a conventional commit message with a clear subject line (max 72 chars) followed by a more detailed explanation if needed. There should be a TL;DR line provides a concise summary of the overall purpose of the changes as the first in the list of bullet points" />
  </appSettings>
</configuration>