<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="vectorStoreFoldersPath" value="path/to/your/vectorStoreFolders.json" />
    <add key="excludedFiles" value=".gitignore,fileToExclude.txt" />
    <add key="excludedFolders" value="obj,bin,.git,.vs" />
  </appSettings>
</configuration>