<!-- FULL FILE VERSION -->
<!-- Path: src/UI/VecTool.UI.WinUI/NLog.config -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <extensions>
    <add assembly="NLog.Targets.Seq" />
  </extensions>

  <targets>
    <target name="console" xsi:type="Console" />
    <target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" />
    <target name="seq_buffer" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
      <target xsi:type="AsyncWrapper">
        <target xsi:type="Seq" serverUrl="http://localhost:5341" />
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="seq_buffer" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
